* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Berkshire Swash', cursive;
}

html {
  scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	background-image: url(../images/bg.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 0;
}


/*navigation*/
#navigation {
	height: 1px;
}

#logo {
	height: 60px;
}

#navbar-nav {
	text-align: center;
	padding: 3px;
	background-color: rgb(0,0,0,0.5);
	border-radius: 5px;
}

#hamburger {
	padding-top: 5px;
}

#navslide{
  position: relative;
  width: 120px; 
  right: -120px;
  padding: 3px 0 3px 5px;
  background: rgba(194,185,181,0.8);
  transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -webkit-transition: right 0.4s ease-in-out;
  border-radius: 10px 0 0 10px;
}

#navtoggle{
  position: absolute;
  right: 120px;
  top: -15px;
  width: 80px;
}

#navtogglecat{
  position: absolute;
  right: 110px;
  top: -15px;
  width: 100px;
}

#navslide:hover{
  right: 0px;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 2px 0;
  color: white;
}

li a:hover,
li a:focus {
  background: #d09850;
  color: black;
  border-radius: 20px 0 0 20px;
}

#active {
	background: #d09850;
	color: black;
	border-radius: 20px 0 0 20px;
}

/*end of navigation*/




/*landing page*/
#title {
	height: 100vh;
	background-image: url(../images/pow.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #f4e033;
	text-align: center;
	padding-top: 30vh;
}

#cat-title,
#dog-title {
	font-family: 'Permanent Marker', cursive;
	color: #186bf2;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 100px;
}

#dog-title {
	color: #f21818;
}

#vs {
	color: black;
	font-size: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

#fight {
	text-shadow: 0px 0px 5px white;
	font-family: 'Bangers', cursive;
}

#choose {
	background-color: #f4e033;
	text-align: center;
	height: 150px;
}

#choose-icon:hover {
	transform: scale(1.3);
    transition: all .2s ease-in-out;
}

#cat,
#dog {
	height: 100vh;
	padding-top: 20vh;
	text-align: center;
	background-image: url(../images/cat.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#dog {
	background-image: url(../images/dog.png);
}

/*end of landing page*/




/*story page*/
#story-header {
	background-image: url(../images/titlebg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	height: 200px;
	padding-top: 13vh;
}

#story-section {
	margin-top: 10vh;
}

#story-title {
	background-image: url(../images/titlebg3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	padding: 20px;
}

#story-info {
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	background-color: rgb(0,0,0,0.5);
	padding: 10px;
	margin-top: 5vh;
	border: 2px dashed grey;
	border-radius: 10px;
}

#story-faqs {
	background-image: url(../images/titleabout.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	height: 175px;
	padding-top: 5vh;
	margin-top: 15vh;
}

#story-faqs-container {
	margin-bottom: 10vh;
}

#accordion .panel{
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 5px;
}

#accordion .panel-heading{
	padding: 0;
	border-radius: 0;
	text-align: center;
	border: none;
}

#accordion .panel-title button{
	display: block;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	background: #d09850;
	transition: all 0.5s ease 0s;
	border: 2px dashed #c2b9b5;
}

#accordion .panel-title button:hover{
	color: #d09850;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: rgba(82, 60, 31, 1);
}

#accordion .panel-body{
	font-size: 16px;
	color: #fff;
	background: rgb(0,0,0,0.5);
	padding: 15px 20px;
	line-height: 25px;
	border: none;
	position: relative;
	border: 1px dashed grey;
	border-radius: 10px;
}

#accordion .panel-body:after{
	content: "";
	position: absolute;
	top: -30px;
	left: 40px;
	border: 15px solid transparent;
	border-bottom: 15px solid rgb(0,0,0,0.5);
}

#panel-text {
	font-family: 'Amaranth', sans-serif;
}

/*end of story page*/



/*cat page*/
#cat-section {
	margin-bottom: 10vh;
	margin-top: 10vh;
}

#cat-message {
	background-color: rgb(0,0,0,0.5);
	height: 200px;
	border: 2px dashed grey;
	border-radius: 10px;
}

#cat-info {
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	padding: 10px;
}

#cat-command-title {
	background-image: url(../images/titlebg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	height: 150px;
	padding-top: 13vh;
	margin-bottom: 10vh;
	margin-top: 10vh;
}


#cat-number {
	background-image: url(../images/titlebg5.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	height: 125px;
	padding-top: 5vh;
	font-size: 50px;
}

#cat-command {
	background-color: rgb(0,0,0,0.5);
	margin-top: 5vh;
	padding: 10px;
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	border: 2px dashed grey;
	border-radius: 10px;
}

#cat-btn {
	background-color: #d09850;
	border: 5px solid #c2b9b5;
	margin-top: 20vh;
}

.card {
	background-color: rgb(0,0,0,0.5);
	border-left: 2px dashed grey;
	border-right: 2px dashed grey;
	border-bottom: 2px dashed grey;
	border-radius: 10px;
}

#cat-card {
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
}

#go-to-dog {
	background-color: #d09850;
	border: 5px solid #c2b9b5;
	margin-top: 10vh;
	margin-bottom: 20vh;
	color: black;
	text-decoration: none;
}

#cat-modal {
	background-color: black;
}

#cat-modal-header {
	color: white;
}

#cat-modal-img {
	height: 75px;
}

#cat-modal-body {
	color: white;
	font-family: 'Amaranth', sans-serif;
}

#cat-modal-btn {
	border: 1px solid red;
	background-color: black;
	color: red;
}

#cat-modal-btn:hover {
	border: 1px solid black;
	background-color: red;
	color: white;
}

/*end of cat page*/





/*dog page*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#dog-top {
	position: relative;
	margin-bottom: 50vh;
}

.arrow {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
}

#dog-section {
	margin-top: 10vh;
}

#dog-message {
	background-color: rgb(0,0,0,0.5);
	height: 200px;
	border: 2px dashed grey;
	border-radius: 10px;
}

#dog-info {
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	padding: 10px;
}

#arrow2 {
	position: relative;
	margin-top: 10vh;
	height: 1px;
}

.arrow2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
}

#dog-meet {
	background-image: url(../images/titlebg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	height: 150px;
	padding-top: 13vh;
	margin-top: 50vh;
}

#dog-friends {
	margin-top: 10vh;
}

#dog-friends-bottom {
	margin-top: 10vh;
	margin-bottom: 15vh;
	position: relative;
}

.arrow3 {
  position: absolute;
  bottom: -20vh;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
}

#dog-overflow {
	overflow: auto;
}

#dog-name {
	color: orange;
	font-size: 30px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#dog-description {
	font-size: 25px;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-family: 'Amaranth', sans-serif;
}

#dog-secret {
	text-decoration: none;
	color: black;
}

#dog-suspicious {
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	padding: 10px;
	background-color: rgb(0,0,0,0.5);
	border: 2px dashed grey;
	border-radius: 10px;
}

.dog-option {
	background-color: #d09850;
	border: 5px solid #c2b9b5;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#dogdlg-img {
	height: 120px;
}

#dogdlg-body {
	color: white;
	font-family: 'Amaranth', sans-serif;
	text-align: left;
}

#nodialogue,
#noyesdialogue,
#nonodialogue,

#revealdialogue,
#revealtelldialogue,

#hidedialogue,
#hideimaginedialogue,
#hidedotdialogue,

#dogyes,
#dogno2,
#dogtell,
#dogrun,
#dogstay,
#dogimagine,
#dogdot {
  display: none;
}

a:hover {
	text-decoration: none;
}

/*end of dog page*/



/*gallery page*/
#demo {
	display: block;
	margin-top: 20px;
}

#carousel-img {
	width: 100%;
	height: 50vh;
}

.carousel-inner img {
	width: 100%;
}

#thumbnail {
	margin-top: 10vh;
}

#thumbnail-img {
	height: 100px;
	width: 100%;
	object-fit: cover;
	border-radius: 10%;
}

#gallery-row2 {
	margin-top: 20px;
	margin-bottom: 10vh;
}

#gallery-description {
	font-family: 'Amaranth', sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#gallery-info {
	color: white;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	background-color: rgb(0,0,0,0.5);
	padding: 10px;
	font-size: 20px;
	margin-top: 5vh;
	animation-delay: 1s;
	border: 2px dashed grey;
	border-radius: 10px;
}

#gallery-overflow {
	overflow: auto;
}

/*end of gallery page*/



/*about page*/
#social-icon {
	height: 30px;
	padding-right: 10px;
}

#about-section {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#about-title {
	background-image: url(../images/titleabout.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	height: 150px;
	padding-top: 5vh;
	margin-bottom: 0;
}

#about-content {
	background-image: url(../images/bgabout.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	font-size: 20px;
	height: 300px;
	padding-top: 5vh;
}

#about-text {
	font-family: 'Amaranth', sans-serif;
}

#about-name {
	margin-bottom: 0;
	color: black;
	font-size: 25px;
}

#about-btn {
	background-color: #d09850;
	border: 3px solid #c2b9b5;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	text-decoration: none;
}

#about-footer-content {
	margin: 0;
}

#about-disclaimer-title {
	margin-top: .5rem;
}

#about-disclaimer {
	font-family: 'Amaranth', sans-serif;
	font-size: 13px;
	text-align: justify;
	margin-bottom: 5px;
}

#about-sources {
	font-family: 'Amaranth', sans-serif;
	font-size: 13px;
	margin-bottom: 5px;
	text-decoration: none;
}
/*end of about page*/



/*secret page*/
#secret-page {
	height: 100vh;
	width: 100%;
	background-color: #b5b2ca;
	text-align: center;
}

#secret-message-first {
	font-size: 30px;
	padding-top: 5vh;
	font-family: 'Amaranth', sans-serif;
}

#secret-message {
	font-size: 20px;
}

#secret-img {
	display: block;
	margin: 0 auto;
	padding-top: 10vh;
}
/*end of secret page*/




/*footer*/
footer {
	background-color: #d09850;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	border-top: 2px dashed #c2b9b5;
}

footer small {
	font-family: 'Amaranth', sans-serif;
}

#index-footer {
	background-color: #f4e033;
}

#secret-footer {
	background-color: #b5b2ca;
}
/*end of footer*/



/*Mobile Styles*/
@media only screen and (max-width: 400px) {
/*navigation*/
	#logo {
		height: 50px;
	}
/*end of navigation*/



/*lading page*/
	#landing-title {
		text-align: center;
		width: 175px;
		margin: 0 auto;
	}
/*end of panding page*/



/*story page*/
	#story-title {
		font-size: 20px;
	}

	#story-header {
		padding-top: 10vh;
		height: 150px;
	}

	#story-section	{
		margin-top: 5vh;
	}
/*end of story page*/



/*cat page*/
	#cat-section {
		margin-top: 1vh;
	}

	#cat-img,
	#dog-img {
		padding-top: 5vh;
	}

	#cat-message,
	#dog-message {
		height: 150px;
		overflow: auto;
	}

	#cat-command {
		margin-top: 5vh;
		font-size: 16px;
	}

	#cat-card {
		font-size: 16px;
	}

	#cat-btn {
	margin-top: 15vh;
	}
/*end of cat page*/



/*dog page*/
	#dog-section {
		margin-top: 1vh;
	}

	#dog-name {
		font-size: 20px;
	}

	#dog-description {
		font-size: 18px;
	}

	#dog-suspicious {
		height: 140px;
		overflow: auto;
	}

	#dogdlg-body {
		padding-top: 0px!important;
	}

	.arrow {
		bottom: -10vh;
	}

	#order {
		order: 2;
	}
/*end of dog page*/



/*gallery page*/
	#carousel-img {
		height: 30vh;
	}

	.thumbnail-lg {
		display: none;
	}

	.thumbnail-sm {
		margin-bottom: 10vh;
	}

	#thumbnail-img {
	height: 75px;
	}

	#gallery-sm {
		margin-bottom: 20px;
	}

	#gallery-info {
		font-size: 17px;
	}
/*end of gallery page*/



/*about page*/
	#about-header {
		font-size: 30px;
	}

	#about-content {
		background-size: cover;
		height: 200px;
		font-size: 15px;
	}

	#about-name {
		font-size: 20px;
	}
/*end of about page*/


/*secret*/
	#secret-img {
		padding-top: 15vh;
	}

	#secret-message-first {
	padding-top: 15vh;
	font-size: 25px;
	}
/*end of secret page*/

}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
/*navigation*/
	#logo {
		height: 50px;
	}
/*end of navigation*/




/*lading page*/
	#landing-title {
		text-align: center;
		width: 175px;
		margin: 0 auto;
	}
/*end of panding page*/




/*story page*/
	#story-title {
		font-size: 20px;
	}

	#story-header {
		padding-top: 9vh;
		height: 175px;
	}

	#story-section {
		margin-top: 5vh;
	}
/*end of story page*/




/*cat page*/
	#cat-section {
		margin-top: 1vh;
	}

	#cat-img,
	#dog-img {
		padding-top: 5vh;
	}

	#cat-command-title {
		padding-top: 9vh;
	}

	#cat-message,
	#dog-message {
		height: 150px;
		overflow: auto;
	}

	#cat-command {
		margin-top: 5vh;
	}

	#cat-btn {
	margin-top: 15vh;
	}
/*end of cat page*/



/*dog page*/
	#dog-section {
		margin-top: 1vh;
	}

	#dog-header {
		padding-top: 9vh;
	}

	#dog-suspicious {
		height: 140px;
		overflow: auto;
	}

	#dogdlg-body {
		padding-top: 0px!important;
	}

	#dog-meet {
		padding-top: 9vh;
	}

	.arrow {
		bottom: -10vh;
	}

	#order {
		order: 2;
	}
/*end of dog page*/



/*gallery*/
	#carousel-img {
		height: 30vh;
	}

	.thumbnail-lg {
		display: none;
	}

	.thumbnail-sm {
		margin-bottom: 10vh;
	}

	#thumbnail-img {
		margin: 0 auto;
		height: 100px;
		width: 75%;
	}

	#gallery-sm {
		margin-bottom: 20px;
	}
/*end of gallery*/



/*about page*/
#about-content {
		background-size: cover;
		height: 200px;
		font-size: 15px;
	}
/*end of about page*/



/*secret*/
	#secret-img {
		padding-top: 20vh;
	}

	#secret-message-first {
	padding-top: 15vh;
	font-size: 25px;
	}
/*end of secret page*/


}

/*Desktop Styles*/
@media only screen and (min-width: 961px) {
	#navtogglecat {
		top: -5px;
	}

	#story-header {
		padding-top: 10vh;
	}

	#dog-header,
	#cat-command-title {
		padding-top: 10vh;
	}

	#dog-meet,
	#cat-command-title {
		height: 175px;
	}

	#about-title {
		padding-top: 4vh;
	}

	#story-info,
	#cat-info,
	#dog-info {
		font-size: 20px;
	}

	#cat-top,
	#dog-top {
		height: 100vh;
	}

	#cat-modal-body {
	padding-top: 5%;
	}

	.thumbnail-sm {
		display: none;
	}

	#about-name {
		margin-top: 5vh;
	}
}